# Default ignored files
/shelf/
/.idea/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IDE
.idea/
*.iml
*.iws
.vscode/

# App specific
Profiles.ser

# Temporary files
[Bb]in/
[Oo]bj/

# Build artifacts
target/
out/

# Other
*.log
.DS_Store
Thumbs.db