# IDE fájlok
.idea/
*.iml
*.iws
.vscode/

# Fordítási eredmények (Build artifacts)
target/
out/
*.class

# Egyéb generált vagy rendszerfájlok
.DS_Store
Thumbs.db
*.log

# Alkalmazás specifikus generált fájlok
Profiles.ser